<!DOCTYPE html>
<title>Maze algorithm comparison</title>
<h1>Maze algorithms app</h1>
<body>

<p>
There are many ways to generate mazes. This app will demonstrate 3 of those:
<ul>
    <li>Iterative DFS</li>
    <li>Kruskal's algorithm</li>
    <li>Aldous-Broder algorithm</li>
  </ul> 
<BR><BR>

<hr><BR>

<form action="/generate_mazes" method="POST" onsubmit="return check(this)">
<b>Choose maze size:</b> <BR><input type="text" name="maze_size" id="maze_size"><BR><BR>
<i>(Please choose a size between 4 and 20.)</i>
<BR><BR>
<input type="submit" value="Generate mazes"><BR><BR>
</form>

<script>
function check(form) {
    if (form.maze_size.value == "") {
        alert("Please enter numeric value.");
        return false;
    }
    var input = document.getElementById("maze_size").value;
    if (!Number.isInteger(Number(input))){
        alert("Please choose integer value.");
        return false;
    }
    if (form.maze_size.value < 4) {
        alert("Please choose size that is equal or bigger than 4.");
        return false;
    }
    if (form.maze_size.value > 20) {
        alert("Please choose size equal or smaller than 20.");
        return false;
    }
    return true;
}
</script>

</body>
